diabetes_prediction_json_file.txt
[{"id":"3cd6c0ab.3fd66","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc76bfec.f812","type":"ui_form","z":"3cd6c0ab.3fd66","name":"","label":"","group":"293988e9.fa4058","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"p","type":"number","required":true,"rows":null},{"label":" plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin ","value":"s","type":"number","required":true,"rows":null},{"label":"test","value":"t","type":"number","required":true,"rows":null},{"label":"mass","value":"m","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","pl":"","pr":"","s":"","t":"","m":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["856806b4.d1d948","58e51c44.9e4e44"]]},{"id":"856806b4.d1d948","type":"debug","z":"3cd6c0ab.3fd66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"58e51c44.9e4e44","type":"function","z":"3cd6c0ab.3fd66","name":"pre-token","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"fkOxV-BQnJOyuYLFEo-3Sd8dumxHjnexj2NbxO4KTJh8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["610de779.a018c8"]]},{"id":"610de779.a018c8","type":"http request","z":"3cd6c0ab.3fd66","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["87c6464.208afb8","974e83fc.e71a3"]]},{"id":"87c6464.208afb8","type":"debug","z":"3cd6c0ab.3fd66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"974e83fc.e71a3","type":"function","z":"3cd6c0ab.3fd66","name":"Pre Prediction","func":"var p = global.get(\"p\")\nvar pl = global.get(\"pl\")\nvar pr = global.get(\"pr\")\nvar s = global.get(\"s\")\nvar t = global.get(\"t\")\nvar m = global.get(\"m\")\nvar pe = global.get(\"pe\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \" plas\", \"pres\", \"Skin\", \"test\", \"mass\",\"pedi\", \"age\" ]],\"values\": [[p,pl,pr,s,t,m,p,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":216.0000021457672,"wires":[["3fb84741.d62678"]]},{"id":"3fb84741.d62678","type":"http request","z":"3cd6c0ab.3fd66","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/2f5bbe68-0716-4f5d-9d99-33a9ee5bd16f/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["1e92b16d.a9b08f","c1bc8801.a5ecb8"]]},{"id":"1e92b16d.a9b08f","type":"debug","z":"3cd6c0ab.3fd66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"2bc1edc0.102cb2","type":"debug","z":"3cd6c0ab.3fd66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"c1bc8801.a5ecb8","type":"function","z":"3cd6c0ab.3fd66","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["2bc1edc0.102cb2","df76ce6a.3846e"]]},{"id":"df76ce6a.3846e","type":"ui_text","z":"3cd6c0ab.3fd66","group":"293988e9.fa4058","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"293988e9.fa4058","type":"ui_group","z":"","name":"New","tab":"2335766e.91342a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2335766e.91342a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]